<article class="card mb-2">
    <div class="card-body">
        <p>{{question.question}}</p>
        <a href="/edit/{{question._id}}" class="btn btn-warning">Edit</a>
        <a href="/delete/{{question._id}}" class="btn btn-danger">Delete</a>
    </div>
</article>